//Big button
.big-button{
    background: $fint-blue;
    border: none;
    border-bottom: 0.6rem solid darken($color: $fint-blue, $amount: 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:disabled {
    opacity: .5;
}

@media(min-width: $desktop-breakpoint){
    .big-button {
        margin-bottom: $xl-size;
    }
}


//Button
.button {
    background: $fint-blue;
    border: none;
    border-bottom: .3rem solid darken($fint-blue, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}